[submodule "third-party/segment-anything-2"]
	path = third-party/segment-anything-2
	url = git@github.com:saeejithnair/segment-anything-2.git
[submodule "graph-pcl/extern/pybind11"]
	path = graph-pcl/extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "third-party/spann3r"]
	path = third-party/spann3r
	url = git@github.com:saeejithnair/spann3r.git
[submodule "third-party/Open3D"]
	path = third-party/Open3D
	url = https://github.com/isl-org/Open3D
[submodule "third-party/mast3r"]
	path = third-party/mast3r
	url = https://github.com/naver/mast3r
[submodule "third-party/segment-anything"]
	path = third-party/segment-anything
	url = https://github.com/facebookresearch/segment-anything.git
[submodule "third-party/stretch_ai"]
	path = third-party/stretch_ai
	url = https://github.com/hello-robot/stretch_ai.git
